@media screen and (min-width: 751px) {
    .bubble {
        margin-left: 11%;
        margin-right: 5%;
    }
    #colorMode {
        margin-left: 42%;
    }
}

@media screen and (max-width: 751px) {
    .bubble {
        margin-left: 11%;
        margin-right: 5%;
    }
    #colorMode {
        margin-left: 42%;
    }
}

.text {
    width: auto;
    margin-left: 7.5%;
    text-align: left;
    padding: 1%;
}