@media screen and (min-width: 751px) {
    .page_head_image {
        display: inline-block;
    }
}

@media screen and (min-width: 864px) {
    #logo {
        background-image: url('../Images/_logo.png');
    }
    #face {
        background-image: url('../Images/_face.jpg');
        border-radius: 100%;
    }
    /*MODAL*/
    .bg-modal {
        background-color: rgba(0, 0, 0, 0.8);
        width: 99%;
        height: 175%;
        position: absolute;
        top: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .modal-contents {
        height: 400px;
        width: 400px;
        background-color: white;
        text-align: center;
        padding: 20px;
        position: relative;
        border-radius: 4px;
    }
    input {
        margin: 15px auto;
        display: block;
        width: 50%;
        padding: 8px;
        border: 1px solid gray;
    }
    .close {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 42px;
        color: #333;
        transform: rotate(45deg);
        cursor: pointer;
    }
    textarea {
        width: 100%;
        height: 25%;
    }
    form {
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 30%;
    }
}


/*css if statement says if it renders to a screen and the width is 751 or higher*/