a {
    text-decoration: none;
}

.nav_links {
    margin: 5%;
}

body {
    background-repeat: repeat-y;
}

.rounded_nav {
    border-radius: 10px;
    background: white;
    padding: 2%;
    margin: 2% 4%;
    text-align: center;
}

.page_head {
    border-radius: 10px;
    background: white;
    padding: 2%;
    margin: 2% 3%;
    text-align: center;
}

.rounded_footer {
    border-radius: 10px;
    background: white;
    padding: 1%;
    margin: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-bottom: 0%;
    text-align: center;
}

.bubbles_container {
    padding-top: 2%;
    padding-bottom: 2%;
}

.bubble {
    border-radius: 2%;
    background: white;
    width: 90%;
    height: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    margin-left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer_logo {
    width: 50px;
    height: 50px;
    margin: 0% 7.5%;
    background-image: url('../Images/_logo.png');
    background-size: 100% 100%;
    display: inline-block;
}

#credits {
    padding-top: 1%;
    text-align: center;
}

#twitter {
    background-image: url("../Images/socialmedia_links/twitter.png");
}

#devto {
    background-image: url("../Images/socialmedia_links/devto.png");
}

#linkedin {
    background-image: url("../Images/socialmedia_links/linkedin.png");
}

#github {
    background-image: url("../Images/socialmedia_links/github.png");
}

#colorMode {
    text-align: center;
    margin: 0% 42%;
    background-size: 100% 100%;
}